<nav class="navbar col-sm-12">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-bar" aria-expanded="false" aria-controls="navbar">
      Menu
    </button>
  </div>

  <div id="nav-menu-bar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ "/getting-started" | prepend: site.baseurl }}">Getting Started</a></li>
      <li><a href="{{ "/testing" | prepend: site.baseurl }}">Testing GTFS Feeds</a></li>
      <li><a href="{{ "/static-spec" | prepend: site.baseurl }}">Changing the GTFS Static Spec</a></li>
      <li><a href="{{ "/examples" | prepend: site.baseurl }}">GTFS Examples</a></li>
      <li><a href="{{ "/best-practices" | prepend: site.baseurl }}">GTFS Best Practices</a></li>
    </ul>
    <div class="transit-line">
    </div>
  </div>
</nav>
