#best-practices {

  .sidenav {
    background-color: #f5f5f5;
    font-size: 10pt;
    padding: 10px 0;

      .list-group-item {
        background-color: transparent;
        border: none;
        padding: 5px 15px;
      }

      a {
        color: #222;
        border: none;

        &:hover {
          text-decoration: none;
          color: $color-blue-deep;
          background-color: transparent;
        }

        &:focus {
          text-decoration: none;
        }
      }

      li {
        list-style: none;
        margin: 0 0 0 10px;
        padding: 2px 0;
        text-indent: -10px;
      }
  }

  figure {
    margin: 10px 0;
    padding: 5px 0;
    border-top: 2px solid $color-yellow-bright;
    border-bottom: 2px solid $color-yellow-bright;

    figcaption {
      text-align: center;
      margin: 10px 0;
      font-style: italic;

      ul {
        display: inline-block;
      }

    }

    img, svg {
      display: block;
      margin: 0 auto;
      max-width: 50%;
    }

  }

  // page title "GTFS Data Best Practices"
  h1 {
    color: #666;
    border: none;
  }

  // section headline
  h2 {
    color: #666;
    border-bottom: 1px solid #ccc;
    margin: 40px 0 20px 0;
  }

  //subsection headline
  h3 {
    margin: 20px 0 10px 0;
  }

  // GTFS field headline
  h4 {
    font-family: "Source Code Pro";
    margin-top: 20px;
    font-weight: bold;
  }

  // system tags (Trip Planners, Human Readability, etc)

  .tag {
    -webkit-padding-start: 0;
    white-space: nowrap;
    display: inline-block;
    margin: 0.2em 0.1em;
    padding: 0 0.5em 0.15em;
    @include small-caps;
    @include meta;
    background-color: #ececec;

    a {padding: 0.15em 0;}

    a, a:hover, a:visited, a:active {
      background-color: inherit;
      border: none;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-red-deep;
      color: white;
      text-decoration: none;
    }

    &:active {
      color: white;
      background-color: black;
      text-decoration: none;
    }

    &:before {content: none;}
  }

  .tag.trip-planners::before {
    content: "Trip Planners";
  }

  .tag.arrival-predictions::before {
    content: "Arrival Predictions";
  }

  .tag.timetables::before {
    content: "Timetables";
  }

  .tag.human-readability::before {
    content: "Human Readability";
  }

  ul > li {
    margin: 5px 0 10px 0;
  }

  // quotes from GTFS Specification
  q {
    display: block;
    padding: 10px 20px;
    font-style: italic;
    line-height: 2.0;
    background-color: $color-green-light;
    color: #333;
    margin: 10px 0;
  }

  q:before,
    q:after {
      content: "";
  }

  #rmi-logo {
    width: 25%;
  }

}
