#best-practices {

  .table-of-contents {
    background-color: #f9f9f9;
    font-size: 10pt;
    padding: 10px 0;
    box-shadow: -5px 5px 10px #999;
  }

  .table-of-contents .list-group-item {
    background-color: transparent;
    border: none;
    padding: 5px 15px;
  }

  .table-of-contents a {
    color: #222;
  }

  .table-of-contents a:hover {
    text-decoration: none;
  }

  .table-of-contents a:focus {
    text-decoration: none;
  }

  .dropdown-menu {
    position: relative;
    padding: 0 0 0 40px;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    float: none;
    min-width: 0;
    border: none;
    box-shadow: none;
    font-size: 10pt;
    background-color: #f9f9f9;
  }

  .dropdown-toggle::before {
  }

  .caret {
    position: relative;
    top: -1px;
    margin-left: 0px;
    transform: rotate(-90deg);
    transition: 0.2s all;
  }

  .open .caret {
    transform: rotate(0deg);
    transition: 0.2s all;
  }

  figure {
    margin: 10px 0;
    padding: 5px 0;
    border-top: 2px solid $color-red-bright;
    border-bottom: 2px solid $color-red-bright;

    figcaption {
      text-align: center;
      margin: 10px 0;
      font-style: italic;
    }

    img, svg {
      display: block;
      margin: 0 auto;
      max-width: 50%;
    }

  }

  // page title "GTFS Data Best Practices"
  h1 {
    color: #666;
    border: none;
  }

  // section headline
  h2 {
    color: #666;
    border-bottom: 1px solid #ccc;
    margin: 40px 0 20px 0;
  }

  //subsection headline
  h3 {
    margin: 20px 0 10px 0;
  }

  // GTFS field headline
  h4 {
    font-family: "Source Code Pro";
    margin-top: 20px;
    font-weight: bold;
  }

  // system tags (Trip Planners, Human Readability, etc)

  .tag {
    -webkit-padding-start: 0;
    white-space: nowrap;
    display: inline-block;
    margin: 0.2em 0.1em;
    padding: 0 0.5em 0.15em;
    @include small-caps;
    @include meta;
    background-color: #ececec;

    a {padding: 0.15em 0;}

    a, a:hover, a:visited, a:active {
      background-color: inherit;
      border: none;
      text-decoration: none;
    }

    &:hover {
      background-color: $color-red-deep;
      color: white;
      text-decoration: none;
    }

    &:active {
      color: white;
      background-color: black;
      text-decoration: none;
    }

    &:before {content: none;}
  }

  .tag.trip-planners::before {
    content: "Trip Planners";
  }

  .tag.arrival-predictions::before {
    content: "Arrival Predictions";
  }

  .tag.timetables::before {
    content: "Timetables";
  }

  .tag.human-readability::before {
    content: "Human Readability";
  }

  .tag.planning-and-analysis::before {
    content: "Planning and Analysis";
  }

  h6 { // should be removed upon publishing
    background-color: #ccc;
    color: #333;
    border-radius: 6px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
  }

  ul > li {
    margin: 5px 0 10px 0;
  }

  // quotes from GTFS Specification
  q {
    display: block;
    padding: 10px 20px;
    font-style: italic;
    line-height: 2.0;
    background-color: $color-green-light;
    color: #333;
    margin: 10px 0;
  }

  q:before,
    q:after {
      content: "";
}

  blockquote {
    font-size: 14px;
  }

}
