html {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  padding-bottom: 60px;
  min-height: 100%;
  position: relative;
}

.page {
  padding: 125px 0px;
}

.sidenav a { // best-practices
  display: block;
}

code {
  color: #333;
  background-color: transparent;
  font-family: "Source Code Pro";
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid #ccc;
}

p {
  margin: 10px 0;
}


li {
  margin: 5px 0;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  table {
    background-color: $body-bg;
  }

  // .table-striped functionality
  > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }
  // customer thead color
  > thead > tr {
    background-color: #999;
    color: #fff;
  }

  > thead > tr > th {
    font-weight: normal;
  }

}

/////////////////////////

body {
  font-family: $font-sans;
  line-height: 1.3em;
  @include copy;
}

p {
  line-height: 1.3em;
}

article {
  max-width: 35em;
  margin: 3em auto;
  padding: 0 2em;
}


// a, a:hover, a:visited, a:active {
//   color: inherit;
//   text-decoration: none;
//   padding: 0 0.07em;
//   margin: 0 -0.05em;
// }
//
// a {border-bottom: 2px solid $color-green;}
// a:visited {
//   border-color: $color-blue;
// }
// a:hover {
//   background-color: $color-green;
//   border-color: $color-green;
// }
// a:active {
//   border-color: $color-blue;
//   background-color: $color-blue;
//   text-decoration: none;
//   position: relative;
//   top: 1px;
//   right: -1px;
// }
// a:focus {text-decoration: none;}


blockquote {
  margin: 0;
  margin-left: 1px;
  padding: 0;
  margin-bottom: $copy-line;
  font-size: initial;
  border-color: $color-green;

  figcaption {
    text-align: right;
    font-size: initial;
  }

  figure {
    margin: 0;
    padding: 0;
    padding-left: 1.5em;
    font-style: italic;
  }
}

// ul {
//   list-style: none;
//   margin: 0;
//
//
//
//   ol {list-style-type: decimal;}
//
//   li {position: relative;}
//
//   >li:before {
//     @include dot;
//     width: 8px;
//     height: 8px;
//     margin-top: -0.15em;
//   }
//
//   ul>li:before {background-color: $color-graublau;}
// }
//
// ol {
//   list-style-position: inside;
//   >ol {list-style-type: lower-alpha;}
// }
//
// ol, ul {
//
//   -webkit-padding-start: .3em;
//   margin-bottom: 1.3em;
//
//   @media (min-width: $screen-s) {
//     -webkit-padding-start: 1em;
//   }
//
//   li { padding-bottom: 0.4em;}
//
// }
//
// :focus {
//   outline: none;
//   background-color: $color-green;
// }
//
// ::selection {background-color: $color-green;}

.tags {-webkit-padding-start: 0;}

.tags li {
  display: inline-block;
  margin: 0.2em 0.1em;
  padding: 0 0.5em 0.15em;
  @include small-caps;
  @include meta;
  background-color: #ececec;

  a {padding: 0.15em 0;}

  a, a:hover, a:visited, a:active {
    background-color: inherit;
    border: none;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-green;
    text-decoration: none;
  }

  &:active {
    color: white;
    background-color: black;
    text-decoration: none;
  }

  &:before {content: none;}
  }

footer {
  background-color: #3d3d3d;
  color: #ececec;
  -webkit-font-smoothing: antialiased;
}

/////////////////////

table.example {

  > thead > tr {
    background: $color-blue-deep;
  }

  > tbody > tr:nth-of-type(odd) {
    background-color: $color-blue-light;
  }

  border: 1px solid $color-blue-light;

}
