.navbar {
  border-radius: 0;
  text-align: center;
  border-bottom: 2px solid #4ff5aa;
}

.nav a {
  color: #000;
}

.nav > li > a:hover {
  background-color: transparent;
}

.navbar-nav {
  display: inline-block;
  float: none;
}
