<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>{% if page.title %}{{ page.title }} &sdot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="placeholder">
    <link rel="icon" href="{{ "images/favicon.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon-precomposed" href="{{ "images/favicon.png" | prepend: site.baseurl }}">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  </head>
  <body>
    {% include nav.html %}
    <section class="page">
      <div id="best-practices" class="container">
        <div class="col-sm-3">
          <div class="list-group table-of-contents">
            <li class="list-group-item"><a href="#introduction">Introduction</a></li>
            <li class="list-group-item"><a href="#publishing">Dataset Publishing & General Practices</a></li>
            <li class="list-group-item">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
                Practice Recommendations Organized by File
              </a>
              <ul class="sidenav dropdown-menu">
                <a href="#by-file">All Files</a>
                <a href="#agency">agency.txt</a>
                <a href="#feed-info">feed_info.txt</a>
                <a href="#stops">stops.txt</a>
                <a href="#stop-times">stop_times.txt</a>
                <a href="#transfers">transfers.txt</a>
                <a href="#trips">trips.txt</a>
                <a href="#frequencies">frequencies.txt</a>
                <a href="#routes">routes.txt</a>
                <a href="#shapes">shapes.txt</a>
                <a href="#calendar">calendar.txt and calendar_dates.txt</a>
                <a href="#fare-rules">fare_rules.txt and fare_attributes.txt</a>
              </ul>
            </li>
            <li class="list-group-item">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
                Practice Recommendations Organized by Case
              </a>
              <ul class="sidenav dropdown-menu">
                <a href="#by-case">Loop Routes</a>
                <a href="#lasso-routes">Lasso Routes</a>
                <a href="#branches">Branches</a>
              </ul>
            </li>
            <li class="list-group-item">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
                About This Document
              </a>
              <ul class="sidenav dropdown-menu">
                <a href="#objectives">Objectives</a>
                <a href="#linking">Linking to this Document</a>
                <a href="#amend">How to Propose or Amend Published GTFS Best Practices</a>
              </ul>
            </li>
            <li class="list-group-item"><a href="#working-group">GTFS Best Practices Working Group</a></li>
          </div>
        </div>
        <div class="col-sm-9">
          {{ content }}
        </div>
      </div>
    </section>
    {% include footer.html %}
    <script src="{{ "/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
